@import url('https://fonts.googleapis.com/css2? family= Arimo:wght@400;700 & display=swap');

body{
    margin: 0;
    padding: 0;
}

.wrapper{
    width: 100%;
    height: 2930px;
}

/* Área que engloba o menu de navegação e a imagem de capa */
header{
    width: 100%;
    height: 980px;
    background-color: #435334;
}

nav{
    width: 100%;
    height: 150px;
    display: flex;
    align-items: center;
}

header img{
    margin-top: -78px;
    position: absolute;
    width: 100%;
    height: 1040px;
}

.caule_palmeira{
    position: absolute;
    width: 130px;
    height: 2500px;
    margin-left: 825px;
}

.caule_palmeira img{
    width: 130px;
    margin-top: 730px;
    height: 1800px;
    position: absolute;
}

/* Formatação dos links da área "Nav" */
nav a{
    text-decoration: none;
    font-family: 'Arimo', sans-serif;
    font-weight: bold;
    color: #FEFAE0;
    margin: auto;
    font-size: 35px;
}

nav a:hover{
    color: rgb(60, 71, 49);
    scale: 1.2;
}

/* Wrapper da área "Sobre Nós" */
.sobre_nos_principal{
    width: 100%;
    height: 600px;
    background-color: #FEFAE0;
    display: flex;
}

/* Divisão da esquerda da área "Sobre Nós" e suas formatações */
.sobre_nos1{
    width: 50%;
    height: 600px;
}

.sobre_nos1 h1{
    margin-left: 55px;
    margin-top: 70px;
    width: 220px;
    font-family: 'Arimo', sans-serif;
    font-weight: bold;
    font-size: 35px;
    color: #435334;
}

.sobre_nos1 p{
    margin-left: 55px;
    width: 720px;
    font-family: 'Arimo', sans-serif;
    font-size: 32px;
    margin-top: 80px;
}

/* Divisão da direita da área "Sobre Nós" e suas formatações */
.sobre_nos2{
    width: 50%;
    height: 600px;
}

.sobre_nos2 p{
    width: 720px;
    margin: auto;
    margin-left: 140px;
    margin-top: 160px;
    font-family: 'Arimo', sans-serif;
    font-size: 32px;
}

/* Wrapper da área "Aplicação" */
.aplicacao_principal{
    width: 100%;
    height: 600px;
    background-color: #E9EDC9;
    display: flex;
}

/* Divisão da esquerda da área "Aplicação" e suas formatações */
.aplicacao1{
    width: 50%;
    height: 600px;
}

.aplicacao1 h1{
    margin-top: 70px;
    margin-left: 55px;
    width: 200px;
    font-family: 'Arimo', sans-serif;
    font-weight: bold;
    font-size: 35px;
    color: #435334;
}

.aplicacao1 img{
    margin-top: -210px;
    margin-left: -170px;
    height: 700px;
    position: absolute;
    width: 1000px;
}

/* Divisão da direita da área "Aplicação" e suas formatações */
.aplicacao2{
    width: 50%;
    height: 600px;
}

.aplicacao2 img{
    margin-top: 35px;
    width: 400px;
    margin-left: 285px;
}

.aplicacao2 p{
    width: 750px;
    margin: auto;
    margin-left: 120px;
    margin-top: 20px;
    font-family: 'Arimo', sans-serif;
    font-size: 32px;
}

/* Wrapper da área "Equipe" */
.equipe_principal{
    width: 100%;
    height: 600px;
    background-color: #9EB384;
    display: flex;
}

/* Divisão da esquerda da área "Equipe" e suas formatações */
.equipe1{
    width: 50%;
    height: 600px;
}

.equipe1 h1{
    margin-top: 70px;
    margin-left: 55px;
    width: 130px;
    font-family: 'Arimo', sans-serif;
    font-weight: bold;
    font-size: 35px;
    color: #FEFAE0;
}

.equipe1 p{
    margin-left: 55px;
    width: 700px;
    font-family: 'Arimo', sans-serif;
    font-size: 32px;
    margin-top: 50px;
}

/* Divisão da direita da área "Equipe" e suas formatações */
.equipe2{
    width: 50%;
    height: 600px;
}

.equipe2 img{
    margin-top: 40px;
    margin-left: 250px;
    width: 500px;
}

.equipe2 h1{
    font-family: 'Arimo', sans-serif;
    font-weight: bold;
    font-size: 20px;
    margin: auto;
    margin-left: 210px;
    margin-top: 20px;
}

.equipe2 h2{
    font-family: 'Arimo', sans-serif;
    font-size: 20px;
    margin: auto;
    margin-left: 120px;
    margin-top: 10px;
    width: 800px;
}

footer{
    background-color: #435334;
    width: 100%;
    height: 150px;
    display: flex;
    align-items: center;
}

footer h1{
    position: absolute;
    margin-left: 430px;
    font-family: 'Arimo', sans-serif;
    font-weight: bold;
    font-size: 35px;
    color: #FEFAE0;
}